node_modules/
**/target/
**/dist/
apps/mobile/android/.gradle/
apps/mobile/android/build/
apps/mobile/android/app/build/
apps/mobile/ios/App/build/
*.zip
*.apk
*.ipa
.env*
*.p12
*.p8
*.jks
*.keystore
